.teamWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;

  .textContainerTeam {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    h2 {
      margin: 80px 0px 30px 0px;
      font-size: 3em;
    }

    p {
      color: rgb(180, 176, 176);
      line-height: 1.5em;
    }
  }

  .cardContainer {
    grid-column: 2/5;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
  }

  .teamPerson {
    margin-top: 30px;
    .imageHandler {
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .textHandler {
      background-color: white;
      text-align: center;
      margin-top: 5px;
      transform: translate(13%, -50%);
      width: 80%;
      padding: 20px;
      box-shadow: 1px 4px 5px 1px #f8f8f8;
      h3 {
        margin: 5px 0px 2px 0px;
        font-size: 1.2em;
      }

      p {
        font-family: "Circular-Loom";
        color: rgb(180, 176, 176);
        line-height: 1.5em;
      }
    }
  }
}

@media (max-width: 1200px) {
  .teamWrapper {
    display: block;
  }
  .teamWrapper .cardContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 8% 5%;
    column-gap: 0px;
  }
  .teamWrapper .textContainerTeam {
    display: block;
  }
  .teamWrapper .teamPerson {
    height: auto;
  }
}

/* Phone size */

@media (max-width: 680px) {
  .teamWrapper {
    display: block;
  }
  .teamWrapper .cardContainer {
    display: block;
    text-align: center;
  }
  .teamWrapper .textContainerTeam {
    display: block;
  }
  .textContainerTeam {
    margin: 0% 10%;
  }
}
