.modal {
  background-color: none;
  justify-self: end;
  margin: 0;
  padding: 0;
}

#hamBurger {
  background-color: none;
  justify-self: end;
  width: fit-content;
  height: fit-content;
}

.showNone {
  display: none;
}

.burgerMenuContainer {
  width: fit-content;
  height: fit-content;
  justify-self: end;
  grid-row: 1/2;
  grid-column: 2/3;
  z-index: 1;
  align-self: start;
  position: relative;
}

.hamburgerMenuOpen {
  z-index: 4;
  justify-self: end;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: start;
  position: absolute;
  width: 280px;
  height: 100vh;
  display: grid;
  background-color: rgba(173, 192, 192, 0.96);

  span {
    justify-self: end;
    align-self: start;
  }

  li {
      list-style: none;
  }

  ul li .list-item {
    font-family: "Circular-Loom";
    color: black;
    text-decoration: none;
    line-height: 2;
  }

  ul li .list-item:hover {
      box-shadow: 0px 2px 0px rgb(125, 125, 125);
  }
}
