@import "./../../../global.scss";

.navbar{
    z-index: 30;
}
nav{
    
    .navWrapper {
        display: grid; 
        text-align: center;
        padding-right: 50px;
        
        li{
            cursor: pointer;
        }
        
        .Logo{
            grid-column: 1/2;
            align-self: end;
            cursor: pointer;
        }

        .Home{
            grid-column: 2/3;
            align-self: end;
        }

        .About{
            grid-column: 3/4;
            align-self: end;
        }

        .Feature{
            grid-column: 4/5;
            align-self: end;
        }

        .Service{
            grid-column: 5/6;
            align-self: end;
        }

        .Contact{
            grid-column: 6/7;
            align-self: end;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}

/* MEDIA  1250 px */
/* @include tablet {
    .burgerMenuContainer {
        display: none;
    }
} */

@media (min-width: 1250px) {
    .burgerMenuContainer {
        display: none;
    }
}

@media (max-width: 1250px) {
    .wrapperContainer .navbar {
        grid-column: 3/7;
        grid-row: 1/2;
    }
}

/* Phone size 920 px */

@media (min-width: 921px) {
    .burgerMenuContainer {
        display: none;
    }
}

/* hamburger */

@media (max-width: 920px) {
    nav .navWrapper {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .wrapperContainer .navbar {
        grid-column: 1/8;
    }
  
    nav .navWrapper .Home {
        display: none;
    }

    nav .navWrapper .About {
        display: none;
    }

    nav .navWrapper .Feature {
        display: none;
    }

    nav .navWrapper .Service {
        display: none;
    }
    
    nav .navWrapper .Contact {
        display: none;
    }

    .Logo{
        text-align: left;
    }
}

/* MEDIA 680 px */

@media (max-width: 680px) {
    .wrapperContainer{
        padding: 0%;
    }
    nav .navWrapper {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }

    nav .navWrapper ul {
        height: auto;
    }

    .Logo{
        padding: 10px 20px; 
    }

    .wrapperContainer .textContainer {
        padding: 0% 5%;
    }
}