.quotesWrapper{
    background-color: rgb(249, 234, 236);

    .imgQuotes{
        text-align: center;
        padding: 30px 0px;
    }

    .textContainer{
        text-align: -webkit-center;
        p{
            font-family: 'Circular-Loom';
            color: rgb(180, 176, 176);
            line-height: 1.5em;
            max-width: 50%;
        }
    }

    .imageOfPerson{
        text-align: center;
        margin: 30px 0px;
        img{
            border-radius: 50%;
        }
    }

    .personName{
        text-align: -webkit-center;
        p{
            padding-bottom: 30px;
        }
    }
}