/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  background-color: rgb(249, 234, 236);
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 350px;
  width: 100%;

  .imgQuotes {
    text-align: center;
    padding: 30px 0px;
  }

  .textContainerQ {
    text-align: -webkit-center;
    white-space: break-spaces;
    p {
      font-family: "Circular-Loom";
      color: rgb(180, 176, 176);
      line-height: 1.5em;
      max-width: 70%;
    }
  }

  .imageOfPerson {
    text-align: center;
    margin: 30px 0px;
    img {
      border-radius: 50%;
    }
  }

  .personName {
    text-align: -webkit-center;
    p {
      padding-bottom: 30px;
    }
  }
}

/* Buttons */

.slideshowDots {
  text-align: center;
  margin-bottom: 20px;
}

.slideshowDot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #141016;
}

/* Phone size */

@media (max-width: 680px) {

  .slide .textContainerQ p {
    max-width: 90%;
  }
  
  .slideshowDots {
    margin-top: 20px;
  }

}
